@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import '@/style_components/_mods.scss';

:root {
    font-family: "Roboto", sans-serif;
}

.tema-claro {
    --background: #ffffff;
    --texto: #333533;
    --texto-alt: #242423;
    --base: #0083d0;
    --complementar: #e1e0ea;
    --icon: #0e96fd;
}

.tema-escuro {
    --background: #313131;
    --texto: #e7e7e7;
    --texto-alt: #ffffff;
    --base: #06d6a0;
    --complementar: #0b2737;
    --icon: #1a936f;
}

%transicao {
    transition: background 0.4s ease-in-out, color 0.3s ease, width 0.3s ease;
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.overflow-auto {
    overflow: auto;
}

.box-sizing {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 8px;
    }

    @extend .wh-100;
}

.carregamento {
    background: var(--background);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    img {
        height: 80px;
    }
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, Sans-serif;
    display: flex;
    background: var(--background);
    color: var(--texto);
    @extend .box-sizing;
    @extend %transicao;
}

.navbar {
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;
    background-color: var(--complementar);
    @extend %transicao;

    .sub {
        margin-left: 1rem;
        border-bottom: 0;
    }

    a {
        display: inline-block;
        //border-bottom: 2px solid var(--icon);
        margin-bottom: .5rem;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0.5rem;
        margin-right: 0.5rem;
        text-decoration: 0;
        color: var(--base);

        svg {
            text-align: center;
            color: var(--icon)
        }
    }

    .router-link-exact-active {
        color: var(--complementar);
        background: var(--base);
    }
}

.vertical-navbar {
    width: 250px;
    height: 100%;
    z-index: 2;

    a {
        display: block;
    }

    &.retraida {
        width: 50px;

        .sub {
            display: none;
        }

        a {
            margin-right: 0;
            text-align: center;

            span {
                display: none;
            }
        }
    }
}

#container-login {
    background-image: url("../assets/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: .7rem;
    width: 100%;
    //height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.mt-2 {
    margin-top: 2rem;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: center;
}

.flex-column {
    flex-flow: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;

}

.card {
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    word-wrap: break-word;
    background-color: var(--complementar);
    //box-shadow: 1.5px 2px var(--base);
    margin-bottom: .5rem;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    text-align: center;

    /* table {
        width: 100%;

        th,
        td {
            box-sizing: border-box;
            width: 50%;
        }

        th {
            border: 3px solid var(--texto);
            font-size: 1.2rem;
        }

        td {
            padding: 0;
            border-top: 1px solid var(--base);
            border-bottom: 1px solid var(--base);
            border-right: 2px solid var(--icon);
            border-left: 2px solid var(--icon);
        }
    } */

    .qr {
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: .3rem 0;
    }

    .midia {
        width: 100%;
    }

    @extend %transicao;
}

.card-lg {
    scrollbar-width: thin;
    display: inline-block;
    /* 
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 800px;

    .midia {
        max-height: 350px;
        width: auto;
        max-width: 100%;
    }
}

.card-form {
    input {
        //border: 2px solid var(--base);
        border: 0;
        background: var(--background);
        color: var(--texto-alt);
        padding: .75rem;
        margin: .3rem 0;
        border-radius: .3rem;
        box-sizing: border-box;
    }
}

.card-form-group {
    position: relative;
    padding: .5rem 0;

    label,
    button {
        color: var(--texto);
        position: absolute;
        top: 50%;
    }

    button {
        background: 0;
        right: 0;
        transform: translate(0, -50%);

        svg {
            vertical-align: 0;
        }
    }

    label {
        cursor: text;
        user-select: none;
        text-align: center;
        width: 100%;
        border-radius: .1rem;
        left: 0;
        transform: translate(0, -50%);
        transition: transform .2s ease, top .2s ease;
        transform-origin: bottom;
    }

    input:focus~label,
    .preenchido {
        transform: unset;
        top: -9%;
    }

    input {
        width: 100%;
    }
}

.card-respostas {
    input:checked~label {
        background: var(--icon);
        color: var(--texto);
    }

    label {
        display: inline-block;
        cursor: pointer;
        //border: 2px solid var(--base);
        background: var(--background);
        color: var(--texto-alt);
        padding: 1rem;
        margin: .3rem 0;
        border-radius: .3rem;
        box-sizing: border-box;
        width: 100%;
    }

    input {
        position: absolute;
        opacity: 0;
        display: none;
    }
}

.dropdown {
    box-sizing: border-box;
    opacity: .2;
    margin: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    max-width: 180px;
    list-style: none;
    background: var(--base);
    transition: max-height .4s ease, opacity .3s ease;
    border-radius: .3rem;
    border-top-right-radius: .1rem;
    position: absolute;
    right: 1rem;
    top: 2rem;

    li {
        cursor: pointer;
        border-radius: .125rem;
        border-bottom: 2px solid var(--complementar);
        color: var(--complementar);
        padding: .250rem;
        margin: .5rem;
        text-align: left;

        svg {
            display: inline-block;
            margin-right: .5rem;
        }

        &:last-of-type {
            border: 0;
        }
    }

}

%menus {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 0;
    color: var(--texto);
    background: unset;
}

.dropdown-menu {
    right: 0;
    @extend %menus;

    &:focus~.dropdown {
        max-height: 200px;
        opacity: 1;
    }
}

.arrow-menu {
    left: 0;
    @extend %menus;
}

.container-questionario {
    justify-content: space-evenly;
}

.votos-questionario {
    margin: 0 .5rem;
    text-align: center;
}

.progresso {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 25px;
    border: 1px solid var(--base);
    margin-top: .2rem;

    .preenchimento-progresso {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--base);
    }
}

.paginacao {
    display: flex;
    justify-content: center;

    button {
        margin: 0 .3rem;
        line-height: 1;
    }
}

button,
.btn {
    display: inline-block;
    cursor: pointer;
    word-wrap: break-word;
    color: var(--complementar);
    background: var(--base);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    margin: .125rem;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: .25rem;
    @extend .box-sizing;

    &[disabled] {
        opacity: .6;
    }
}

.btn-lg {
    padding: .725rem .265rem;
    width: 100%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin-block-end: .4rem;
    margin-block-start: .4rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    color: var(--texto-alt);
    margin-top: .3rem;
    font-size: .6rem;
}

/* Patches em animações */
.card,
.wrapper {

    &.zoomRight-leave-active,
    &.zoomRight-leave-to,
    &.zoomRight-enter-active,
    &.zoomRight-enter-to {
        position: absolute;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-top: 50px;
    }

    .navbar {
        position: fixed;
        top: 0;
    }

    .vertical-navbar {
        width: 100%;
        height: auto;
        z-index: 2;
        transition: height 0.4s ease;

        a {
            margin-right: 0;
            display: block;
        }

        &.retraida {
            height: 50px;
            width: 100%;

            .sub {
                display: none;
            }

            a {
                margin-bottom: 0;
                margin-right: 1rem;
                text-align: center;
                display: inline-block;

                span {
                    display: none;
                }

                &#sair {
                    position: absolute;
                    top: 5px;
                    right: 0;
                }
                &#tema{
                    display: none;
                }
            }
        }
    }

    .card {
        margin: 0;
        margin-top: .5rem;
    }

    .card-lg {
        top: 0;
        left: 0;
        transform: unset;
    }

    footer {
        display: none;
    }
}